.main{
    padding: 10px 0px;
    background-color: #85dcb8;
}
.container{
    width:90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.name > p{
    font-size: 30px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.button>button{
    padding: 10px 15px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button>button:hover{
    /* background-color: aqua; */
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}